body {
  margin: 0;
  font-size: 16px;
  background-color: #f5eee6;
  margin: 10px;
  text-align: center
}

@media screen and (min-width: 1440px){
  body {
    font-size: 20px;
    margin: 25px;
  }
}

hr {
  border: 0;
  border-top: dotted 7px;
  border-color: gray;
  width: 50px;
}

.myNav {
  text-align: center;
  border-bottom: 2px solid;
  padding-bottom: 8px;
}

input[type=text] {
  background-color: #ffeee6;
  font-size: 1.2em;
}

input[type=submit] {
  background-color: #f3d7ca;
  border-radius: 10%;
  border-width: 1px;
  margin: 10px;
  padding: 2px;
  border-radius: 10%;
}

input[type=file] {
  background-color: #ffeee6;
  border-radius: 10%;
  border-width: 1px;
  margin: 10px;
  padding: 2px;
  border-radius: 10%;
}

.nav-btn {
  background-color: #f3d7ca;
  padding: 4px;
  border-radius: 25%;
  margin: 0px 5px;
}

.salic-ruka-img {
  margin-top: 25px;
  width: min(75%, 720px);
  border-radius: 25%;
}

.salic-papir-img {
  margin-top: 25px;
  width: min(75%, 720px);
  border-radius: 25%;
}

.salici-input-file {
  display: inline-block;
  width: 180px;
}

.logo-img {
  position: absolute;
  width: 2em;
  top: 0.5em;
  left: 1em;
}

.salic-view {
  width: 100%;
  margin-top: 25px;
}
